*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth; 
}

::-webkit-scrollbar{
    background-color: #59432f; /*scroll felt er usynligt*/
}

::-webkit-scrollbar-thumb{
    background-color: #ff7a00; /*scrollbar farves og passer til designet*/
}

header{
    background-color: #383838;
    width: 22vw;
    height: 100vh;
    position: fixed; /*så den ikke scroller med*/
    text-align: center;
    padding: 2%;
}

#burgermenu{
    cursor: pointer;
    display: none;
    position: fixed; /*så man hele tiden kan klikke på den uanset hvor lang nede på siden man er*/
    margin-left: 3vw; /*Når headeren er lukket sidder menuen i hjørnet*/
}

.streg{
    display: block;
    width: 10vw;
    height: 0.8vh;
    margin: 0.8vh auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ff7a00;
}

#menugrafik{
    width: 85%;
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20%;
    height: 35vh;
}

nav a{
    color: #ffa800;
    text-decoration: none;
    font-weight: 900;
    font-size: 3.95vh;
}


nav a:hover{
    color: #4d941f;
}

nav #currentpage{
    color: #ff7a00;
}

nav #currentpage:hover{
    color: #4d941f;
}


main{
    background-color: #59432f;
    width: 80vw;
    min-height: 100vh;
    margin-left: 20vw; /*Så main content vises ved siden af headeren*/
    text-align: center;
    padding: 3% 0 2% 0;
}

.appelsinlogo{
    width: 27%;
}

h1{
    color: #ffa800;
    font-weight: 900;
    font-size: 6vh;
}

h2{
    color: #ffa800;
    font-weight: 900;
    font-size: 3.5vh;
}

p{
    color: white;
    font-size: 2.5vh;
    max-width: 50vw;
}

a{
    color: #ff7a00;
}

a:hover{
    color: #4d941f;
}

.trekolonner{
    height: 100%;
    flex-wrap: wrap; /*så de kommer under hinanden i mobil device. */
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    margin-top: 1%;
    width: 80vw;
}

.enkolonne{
    height: 100%;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1% 0;
}

.enkolonne h2{
    margin-top: 6%;
}

.cirkelramme{ /*pixel skal ændres i media quies*/
    height: 200px; /*px ellers bliver cirklerne ikke "kvadratiske"*/
    width: 200px;
    border-style: solid;
    border-color: #ff7a00;
    border-width: 20px;
    border-radius: 50%;
    box-shadow: 7px 8px 8px rgba(0, 0, 0, 0.5);
    display: flex;
}

#vfus{
    background-color: #414141;
}

#nippon{
    background-color: #d9d9d9;
}

#cocio{
    background-image: url(images/lyslactosefricociodåse.jpg);
    background-size: cover;
    background-position: -2.5vw 0; /*dåsen er i midten*/
    background-repeat: no-repeat;
}

.enkolonne p{
    margin: 5% 0;
}

.knap{
    background-color: #ff7a00;
    color: white;
    font-family: 'inter', sans-serif;
    font-weight: 900;
    text-decoration: none;
    padding: 4%;
    box-shadow: 7px 8px 8px rgba(0, 0, 0, 0.5);
}

.knap:hover, .knap:focus, .knap:active{
    background-color: #4d941f;
    color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.centerP{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.centerP .enkolonne .knap{
    padding: 3%;
}

.centerP .cirkelramme{
    margin: 1% 0;
}
.centerP .knap{
    padding: 1%;
    margin: 1% 0 2% 0;
}

/*---------------------------styles til alle projekter----------------------*/
/*---------------------------styles til alle projekter----------------------*/
/*---------------------------styles til alle projekter----------------------*/


#projektmenu{
    display: flex;
    justify-content: center;
}

#projektlinks{
    flex-wrap: wrap; /*så de ryger under hinanden på mobil*/
    width: 55vw;
    margin-bottom: 5%;
}

#projektlinks a{
    text-decoration: none;
    font-size: 4vh;
    font-weight: 900;
    padding-left: 5%;
}

.textleft{
    text-align: left;
    margin: 0 10%;
}

.projektlayout .knap{
    padding: 1%;
    
}

.projektlayout{
    padding-bottom: 7%;
}

.projektlayout p{
    margin: 1% 0 2% 0;
}

h3{
    color: #ffa800;
    font-weight: 900;
    font-size: 2.80vh;
    padding: 1% 0 0.5% 0;
}

.videocontainer{
    display: flex;
}

.computermockup{
    width: 30vw;
    background-color: #59432f;
}

.mobilmockup{
    width: 15vw;
    background-color: #59432f;
}

/*responsive billedestørrelser*/
    #moodboardvfus{
        width: 30vw;
    }

    #styletilevfus{
        width: 20vw;
    }

    #nipponlogo{
        width: 22%;
    }

    .nipponhvidimg{
        width: 50vw;
    }

    #nipponjs{
        width: 35vw;
    }

    #cociomockups img{
        height: 40vh;
    }

    #tobilledermedp{
        display: flex;
    }

.billedeogp {
    width: 20vw;
}

.billedeogp img{
    height: 30vh;
}

.billedeogp p{
    font-size: 1.75vh;
}

.billedeogkilde{
    display: flex;
    flex-direction: row;
}

.billedeogkilde img{
    width: 25vw;
}

.billedeogkilde p{
    flex-wrap: wrap;
    font-size: 1.75vh;
    padding: 0 1%;
}


.portfoliofigmabilleder img{
    width: 30vw;
}

#portfolioskitsebilleder img{
    height: 30vh;
}

.instakolonner{
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    margin-top: 1%;
    width: 80vw;
}

.instakolonner .enkolonne{
    width: 18vw;
}

.instakolonner .enkolonne img{
    width: 16vw;
}


/*--------------------------styles til om nikoline--------------------*/
/*--------------------------styles til om nikoline--------------------*/
/*--------------------------styles til om nikoline--------------------*/

#faldskærm{
    margin-top: 2%;
}

.brødtekstogbilledekolonne{
    display: flex;
    width: 80vw;
    justify-content: center;
}

.brødtekst{
    text-align: left;
    width: 55%;
}

.brødtekst ul{
    margin: 1% 5%;
}

.brødtekst li{
    color: white;
    margin: 0.25% 0;
    list-style-type: circle;
    list-style-position: inside;
}

.billedekolonne{
    width: 25%;
}

.billedekolonne img{
    width: 60%;
    margin: 4% 0;
}
/*---------------------------styles til kontakt----------------------*/
/*---------------------------styles til kontakt----------------------*/
/*---------------------------styles til kontakt----------------------*/

#telefonikon, #mailikon, #linkedinikon{
    height: 25vh;
}

/*---------------------------Mediaquies--------------------*/
/*---------------------------Mediaquies--------------------*/
/*---------------------------Mediaquies--------------------*/

@media screen and (max-width:1124px) {
    header{
        display: none;
    }

    #burgermenu{
        display: block;
    }

    #burgermenu.active{ /*class bliver tilføjet af js*/
        margin-left: 26vw;
    }

    #burgermenu.active .streg:nth-child(2){
        opacity: 0;
    }

    /*burgermenu transistion
    stregerne vender sig og bliver til kryds*/
    #burgermenu.active .streg:nth-child(1){
        transform: translateY(1.6vh) rotate(45deg);
    }

    #burgermenu.active .streg:nth-child(3){
        transform: translateY(-1.6vh) rotate(-45deg);
    }

    header.active{ /*class bliver tilføjet af js*/
        display: block;
        width: 30vw;
        height: 100dvh;
    }

    main{
        width: 100vw;
        margin-left: 0;
    }
    
    .trekolonner{
        width: 100vw;
    }

    .computermockup{
        width: 35vw;
    }
    
    .mobilmockup{
        width: 20vw;
    }

    .billedekolonne img{
        width: 60%;
        margin: 4%;
    }
}

/*---------------------------Mediaquies--------------------*/
/*---------------------------Mediaquies--------------------*/
/*---------------------------Mediaquies--------------------*/

@media screen and (max-width:500px) {
    /*-------Burger menu------*/
    header.active{
        display: block;
        width: 85vw;
    }

    #burgermenu{ /*når menuen er lukket*/
        margin-left: 3vw;
        margin-top: 2vw;
    }

    #burgermenu.active{ /*når menuen er åben*/
        margin-left: 65vw;
    }
/*----------maincontent------*/
    h1{
        font-size: 5vh;
        margin: 5% 10% 0 10%;
    }

    .appelsinlogo{
        width: 60%;
    }
    
    .trekolonner{
        width: 100vw;
        height: 100%;
        flex-wrap: wrap;
    }

    .enkolonne{
        width: 80vw;
        padding-bottom: 5%;
    }

    .enkolonne p{
        margin: 3% 0;
    }

    .cirkelramme{ /*pixel skal ændres i media quies*/
        height: 150px;
        width: 150px;
        border-width: 15px;
    }

    .centerP .enkolonne .knap{
        padding: 5%;
    }

    .knap{
        margin: 3%;
    }

    h2{
        font-weight: 900;
        font-size: 3.5vh;

    }
    
    p{
        font-size: 2vh;
        max-width: 85%;
        margin: 2% 0 5% 0;
    }

    .centerP .knap{
        padding: 2.5%;
    }

    /*----Styles til projekt side*/
    
    #projektmenu{
    margin-bottom: 8%;
    }

    #projektlinks{
        flex-wrap: nowrap;
        display: flex;
        flex-direction: column;
        height: 45vh;
        width: 85%;
        justify-content: space-between;
    }

    .videocontainer{
        flex-direction: column;
    }

    .computermockup{
        width: 100%;
    }

    .projektlayout{
        height: auto;
    }

    .projektlayout p{
        margin: 2% 0 5% 0;
    }

    .projektlayout .knap{
        padding: 4%;
    }
    
    .mobilmockup{
        width: 100%;
    }
    /*størrelser på billederne, fylder mere på mobil*/
        #moodboardvfus{
            width: 100%;
        }

        #styletilevfus{
            width: 100%;
        }

        #nipponlogo{
            width: 90%;
        }

        .nipponhvidimg{
            width: 100%;
        }
        
        #nipponjs{
            width: 100%;
        }

        #cociomockups img{
            height: 25vh;
        }

        .billedeogp {
            width: 100%;
        }

        .billedeogkilde img{
            width: 80%;
        }

        .portfoliofigmabilleder img{
            width: 100%;
        }

        #portfolioskitsebilleder img{
            height: 35vh;
        }

    /*-----genbrug med lidt nyt------*/
    .instakolonner .enkolonne{
        width: 80vw;
    }
    
    .instakolonner .enkolonne img{
        width: 60vw;
    } 
    /*-----styles til om siden------*/
    .brødtekstogbilledekolonne{
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .brødtekst{
        width: 100%;
        margin: 0 0 0 10%;
    }

    .billedekolonne{
        display: none;
    }
    /*-------styles til kontakt-------*/
    #telefonikon, #mailikon, #linkedinikon{
        height: 15vh;
    }
}